<div class="content">
<% if user_signed_in? %>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @users.each do |user| %>
            <li><%= link_to user.email, conversation_path(id: 9) %></li>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">

  </div>
</div>
<div class="clearfix"></div>
  <% else %>
    <div class="block-1"></div>
    <div class="teaser animated">
      <h1><%= t ".title" %></h1>
      <h4 class="tagline"><%= t ".h4" %></h4>
      <div class="text-shadow-light">
        <%= t ".text" %>
      </div>
      <div class="mt-4">
        <button class="btn btn-primary btn-prominent btn-lg btn-block btn-brand
        trigger-signin-modal hover-grow" type="button">
          <%= t ".sign_in" %>
        </button>
        <p><%= t ".or" %></p>
        <button class="btn btn-primary btn-prominent btn-lg btn-block btn-brand
        trigger-signin-modal hover-grow" type="button">
          <%= t ".sign_up" %>
        </button>
      </div>
    </div>
    <%= render "static_pages/block-2" %>
    <%= render "static_pages/block-3" %>
  <% end %>
  <% yield %>
</div>
